 <div class="container">
     <div class="row">
         <div class="col-6 col-md-6">
     <table class="table table-bordered table-dark">
        <thead>
            <tr>
                <th scope="col">id_crud</th>
                <th scope="col">nombre</th>
                <th scope="col">apellido</th>
                <th scope="col">eliminar & modificar</th>
            </tr>
        </thead>
        <tbody>
            {{#each todoCrud}}
                <tr>
                <th scope="row">{{id_crud}}</th>
                    <td>{{nombre}}</td>
                    <td>{{apellido}}</td>
                          <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{id_crud}}">
                        eliminar
                        </button>
                          <div class="modal fade" id="exampleModal{{id_crud}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="color:red" class="modal-title" id="exampleModalLabel">eliminar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div style="color:blue;" class="modal-body">
                                    desea eliminar usuario {{crud}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                    <a href="/crud/eliminar/{{id_crud}}" class="btn btn-danger">eliminar</a>
                                </div>
                                </div>
                            </div>
                        </div>
                      

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarusuario{{id_crud}}">
                        modificar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modificarusuario{{id_crud}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="POST" action="/crud/modificar/{{id_crud}}">
                                        <div class="modal-header">
                                            <h5 style="color:red" class="modal-title" id="exampleModalLabel">modificar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div style="color:blue;" class="modal-body">
                                        

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">nombre</label>
                                                    <input type="text" value="{{nombre}}" class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre">
                                                </div>

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">apellido</label>
                                                    <input type="text" value="{{apellido}}" class="form-control" name="apellido" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="apellido">
                                                </div>

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                            <button type="submit" class="btn btn-primary">modificar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
        </tbody>
        </table>
    


        <div class="col-12 col-md-4">
            <di class="row-4">
                <form method="POST" action="/crud/agregar">
                    <h1>crud</h1>
                    <div class="form-group">
                        <label for="exampleInputEmail1">nombre</label>
                        <input type="text" class="form-control" name="nombre" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="nombre">
                    </div>

                    <input type="hidden" class="form-control" name="id_crud" id="exampleInputEmail1" aria-describedby="emailHelp">
            
                    <div class="form-group">
                        <label for="exampleInputEmail1">apellido</label>
                        <input type="text" class="form-control" name="apellido" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="apellido">
                    </div>
                        
                    <button type="submit" class="btn btn-primary">Agregar</button>
            </form>
         </di>
    </div>
    
    
        
</div>