<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>redes</title>
</head>
<body>
    {{#each todoRedes}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{red}}</h5>
            </div>
            <tr>
                <td>
                     <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{id_redes}}">
                        eliminar
                        </button>
                          <div class="modal fade" id="exampleModal{{id_redes}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="color:red" class="modal-title" id="exampleModalLabel">eliminar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div style="color:blue;" class="modal-body">
                                    desea eliminar  {{red}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                    <a href="/redes/eliminar/{{id_redes}}" class="btn btn-danger">eliminar</a>
                                </div>
                                </div>
                            </div>
                        </div>
                      

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarredes{{id_redes}}">
                        modificar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modificarredes{{id_redes}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="POST" action="/redes/modificar/{{id_redes}}">
                                        <div class="modal-header">
                                            <h5 style="color:red" class="modal-title" id="exampleModalLabel">modificar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div style="color:blue;" class="modal-body">
                                        

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">redes</label>
                                                    <input type="text" value="{{redes}}" class="form-control" name="redes" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="redes">
                                                </div>

                                               {{!--  <div class="form-group">
                                                    <label for="exampleInputEmail1">descripcion</label>
                                                    <input type="text" value="{{descripcion}}" class="form-control" name="descripcion" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="descripcion">
                                                </div> --}}

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                            <button type="submit" class="btn btn-primary">modificar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </td>
            </tr>
        </div>
    {{/each}}
</body>
</html>