<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proveedor</title>
</head>
<body>
    {{#each todoProveedor}}
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="{{url_img}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{proveedor}}</h5>
                <h3>contacto:</h3>
                <p>{{numero_contacto}}</p>
            </div>
            <tr>
                <td>
                     <td><button type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal{{id_proveedor}}">
                        eliminar
                        </button>
                          <div class="modal fade" id="exampleModal{{id_proveedor}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="color:red" class="modal-title" id="exampleModalLabel">eliminar</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div style="color:blue;" class="modal-body">
                                    desea eliminar usuario {{proveedor}}
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                    <a href="/proveedor/eliminar/{{id_proveedor}}" class="btn btn-danger">eliminar</a>
                                </div>
                                </div>
                            </div>
                        </div>
                      

                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modificarproveedor{{id_proveedor}}">
                        modificar
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="modificarproveedor{{id_proveedor}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <form method="POST" action="/proveedor/modificar/{{id_proveedor}}">
                                        <div class="modal-header">
                                            <h5 style="color:red" class="modal-title" id="exampleModalLabel">modificar</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div style="color:blue;" class="modal-body">
                                        

                                                <div class="form-group">
                                                    <label for="exampleInputEmail1">proveedor</label>
                                                    <input type="text" value="{{proveedor}}" class="form-control" name="proveedor" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="proveedor">
                                                </div>

                                               {{!--  <div class="form-group">
                                                    <label for="exampleInputEmail1">descripcion</label>
                                                    <input type="text" value="{{descripcion}}" class="form-control" name="descripcion" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="descripcion">
                                                </div> --}}

                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">cerrar</button>
                                            <button type="submit" class="btn btn-primary">modificar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </td>
                </td>
            </tr>
        </div>
    {{/each}}
</body>
</html>